# Dossier de développement (exclu)
dev/

# Fichiers macOS
.DS_Store

# Dossier node_modules
node_modules/

# Fichiers de log
*.log

# Fichiers IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers temporaires
temp/
