<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || 'Cris et Ronronnements' %></title>
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <%- include('../partials/header') %>

    <!-- Contenu dynamique -->
    <main>
        <% if (locals.body) { %>
            <%- body %>
        <% } %>
    </main>

    <%- include('../partials/footer') %>

    <script src="/assets/Bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>