<%- include('../../layouts/main', {
    title: 'Projet BFK - Cris et Ronronnements'
}) %>

<div class="container my-5">
    <h1>Projet BFK</h1>
    <p>Bienvenue dans la section BFK (BDSM, Fetish, Kink).</p>
    <p>Cette page est en cours de développement.</p>
</div>